* {
  box-sizing: border-box; /* #ef6c34 */
}
nav {
  background-color: #e4c5b8;
  color: #3f1706;
  padding: 1% 2%;
}
.nav-logo {
  display: block;
  width: 10%;
  border-radius: 5%;
  margin-left: 3%;
}
nav ul {
  display: flex;
  column-gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}
nav ul li a:hover {
  border-bottom: 3px solid #3f1706;
  color: #da7043;
}
